    body {
        background-image: url();
        background-color: lightseagreen;
        background-size: cover;
        background-repeat: repeat;
        margin:0 7vh;
    }
    
    
h2{
    color:black;

}
.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}
h1{
    padding-bottom: 20px;
    padding-top: 60px;

}
.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-size: 1.2rem;

}
.navbar {
    padding: 0 0 4.5rem;
    margin: 80px 150px;
}

.hero{
    margin:0px 150px
}

.searchbar {
    
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;   
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 750px;
  }
  
  .searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
  }
  
  .searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
  }
  
  .searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
  }
  
  .search-icon-wrapper {
    margin: auto;
  }
  
  .search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
  
  .searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
  }
  
  .searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  
  .searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
  }
  
  .searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
  }
  
  .searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
  }
  
  .searchbar-clear-icon {
    margin-right: 12px
  }
  
  .voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
  }

/* EXPLORE button  */

  .container-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "bt-1 bt-2 bt-3"
      "bt-4 bt-5 bt-6";
    position: relative;
    perspective: 800;
    padding: 0;
    width: 160px;
    height: 55px;
    transition: all 0.3s ease-in-out;
  }
  
  .container-button:active {
    transform: scale(0.95);
  }
  
  .hover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
  }
  
  .bt-1 {
    grid-area: bt-1;
  }
  
  .bt-2 {
    grid-area: bt-2;
  }
  
  .bt-3 {
    grid-area: bt-3;
  }
  
  .bt-4 {
    grid-area: bt-4;
  }
  
  .bt-5 {
    grid-area: bt-5;
  }
  
  .bt-6 {
    grid-area: bt-6;
  }
  
  .bt-1:hover ~ button {
    transform: rotateX(15deg) rotateY(-15deg) rotateZ(0deg);
    box-shadow: -2px -2px #18181888;
  }
  
  .bt-1:hover ~ button::after {
    animation: shake 0.5s ease-in-out 0.3s;
    text-shadow: -2px -2px #18181888;
  }
  
  .bt-3:hover ~ button {
    transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg);
    box-shadow: 2px -2px #18181888;
  }
  
  .bt-3:hover ~ button::after {
    animation: shake 0.5s ease-in-out 0.3s;
    text-shadow: 2px -2px #18181888;
  }
  
  .bt-4:hover ~ button {
    transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg);
    box-shadow: -2px 2px #18181888;
  }
  
  .bt-4:hover ~ button::after {
    animation: shake 0.5s ease-in-out 0.3s;
    text-shadow: -2px 2px #18181888;
  }
  
  .bt-6:hover ~ button {
    transform: rotateX(-15deg) rotateY(15deg) rotateZ(0deg);
    box-shadow: 2px 2px #18181888;
  }
  
  .bt-6:hover ~ button::after {
    animation: shake 0.5s ease-in-out 0.3s;
    text-shadow: 2px 2px #18181888;
  }
  
  .hover:hover ~ button::before {
    background: transparent;
  }
  
  .hover:hover ~ button::after {
    content: "EXPLORE";
    top: -150%;
    transform: translate(-50%, 0);
    font-size: 34px;
    color: #f19c2b;
  }
  
  button {
    position: absolute;
    padding: 0;
    width: 160px;
    height: 55px;
    background: transparent;
    font-size: 17px;
    font-weight: 900;
    border: 3px solid #f39923;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
  }
  
  button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 55px;
    background-color: #f5ae51;
    /* border-radius: 30px; */
    transition: all 0.3s ease-in-out;
    z-index: -1;
  }
  
  button::after {
    content: "DIVE IN";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 55px;
    background-color: transparent;
    font-size: 17px;
    font-weight: 900;
    line-height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  
  @keyframes shake {
    0% {
      left: 45%;
    }
  
    25% {
      left: 54%;
    }
  
    50% {
      left: 48%;
    }
  
    75% {
      left: 52%;
    }
  
    100% {
      left: 50%;
    }
  }

.excont{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 767px) {
    .excont {
      position: fixed;
      bottom: 30px; 
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
